root = true

[*.{md,txt,yml,yaml,json}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{dart,ts,js,py,ps1,sql}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
