# Flutter/Dart/Pub
.dart_tool/
build/
.flutter-plugins-dependencies
.melos_tool/

# IDE
.idea/
.vscode/
*.iml

# Local env
.env
env/*.json
!env/*.example

# Generated reports
artifacts/
test-results/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

!.vscode/
.vscode/*
!.vscode/settings.json
