{
  "SUPABASE_URL": "https://qretfjzaolpdguggcqfg.supabase.co",
  "SUPABASE_ANON_KEY": "sb_publishable_z7CWfkxJjv0kHtG59wLgBA_X5VmZ2Ag",
  "ADMIN_CONSOLE_URL": "https://passagetr-admin.web.app,
  "TRANSLATE_PROVIDER": "deepl"
}
